
2 Klasse/Viele_Layouts/
*.md
2 Klasse/Erstes_GUI_Programm/Testverbesserung/src/SpeiseMitAllergenen.java
2 Klasse/Erstes_GUI_Programm/Testverbesserung/src/TestAllergenen.java
2 Klasse/Erstes_GUI_Programm/Testverbesserung/src/ArrayFullException.java
2 Klasse/Erstes_GUI_Programm/Testverbesserung/bin/TestAllergenen.class
2 Klasse/Erstes_GUI_Programm/Testverbesserung/bin/SpeiseMitAllergenen.class
2 Klasse/Erstes_GUI_Programm/Testverbesserung/bin/ArrayFullException.class
2 Klasse/Erstes_GUI_Programm/Testverbesserung/.vscode/settings.json
2 Klasse/AngepassteMuster/.idea/.name
